In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
import webbrowser
website = 'https://en.wikipedia.org/wiki/NFL_win%E2%80%93loss_records'
webbrowser.open(website)

True

In [8]:
nfl_frame = pd.read_clipboard()

In [9]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East

In [10]:
nfl_frame.columns

Index([u'Rank', u'Team', u'Won', u'Lost', u'Tied', u'Pct.', u'First', u'NFL',
       u'Season', u'Total', u'Games', u'Division'],
      dtype='object')

In [11]:
nfl_frame.columns

Index([u'Rank', u'Team', u'Won', u'Lost', u'Tied', u'Pct.', u'First', u'NFL',
       u'Season', u'Total', u'Games', u'Division'],
      dtype='object')

In [12]:
nfl_frame['Tied']

0    555
1    364
2    720
3    335
4    462
Name: Tied, dtype: int64

In [13]:
DataFrame(nfl_frame, columns=['Team', 'First', 'Total'])

      Team   First  Total
0  Chicago   0.570    NFC
1   Dallas   0.568    NFC
2    Green  37.000  1,304
3    Miami   0.561    AFC
4      New   9.000    852

In [15]:
DataFrame(nfl_frame, columns=['Team', 'First', 'Total', 'Stadium'])
#instead of returning an error, it adds a column of nulls

      Team   First  Total  Stadium
0  Chicago   0.570    NFC      NaN
1   Dallas   0.568    NFC      NaN
2    Green  37.000  1,304      NaN
3    Miami   0.561    AFC      NaN
4      New   9.000    852      NaN

In [22]:
nfl_frame.head(1)

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Chicago,Bears,741,555,42,0.57,1920,"1,338",NFC,North,NaN

In [23]:
nfl_frame.ix[1, 3]

'480'

In [24]:
nfl_frame.ix[0]

Rank              1
Team        Chicago
Won           Bears
Lost            741
Tied            555
Pct.             42
First          0.57
NFL            1920
Season        1,338
Total           NFC
Games         North
Division        NaN
Name: 0, dtype: object

In [25]:
nfl_frame['Stadium'] = "Levi's Stadium"

In [26]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN,Levi's Stadium
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN,Levi's Stadium
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North,Levi's Stadium
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN,Levi's Stadium
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East,Levi's Stadium

In [27]:
nfl_frame['Stadium'] = np.arange(5)

In [28]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN,0
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN,1
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North,2
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN,3
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East,4

In [31]:
stadiums = Series(["Levi's", "ATT Stadium"], index=[4,0])

In [32]:
stadiums

4         Levi's
0    ATT Stadium
dtype: object

In [33]:
nfl_frame['Stadium'] = stadiums

In [34]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN,ATT Stadium
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN,NaN
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North,NaN
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN,NaN
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East,Levi's

In [35]:
del nfl_frame['Stadium']

In [36]:
nfl_fame

NameError: name 'nfl_fame' is not defined

In [37]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East

In [38]:
data = {'City': ['SF', 'LA', 'NYC'], 'Population': [837000, 3880000, 8400000]}

In [39]:
city_frame = DataFrame(data)

In [40]:
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000