In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

from numpy.random import randn

In [3]:
ser1 = Series([1, 2, 3, 4], index=['A', 'B', 'C', 'D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
ser2 = ser1.reindex(['A', 'B', 'C', 'D', 'E', 'F'])
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [5]:
ser2['A']

1.0

In [6]:
ser2[0]

1.0

In [7]:
ser2[3]

4.0

In [10]:
ser2['D']

4.0

In [16]:
ser2 = ser2.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G'], fill_value=0)
#will pass a zero as new index values
ser2

A     1
B     2
C     3
D     4
E     9
F   NaN
G     0
dtype: float64

In [18]:
ser2['E'] = 9
ser2

A     1
B     2
C     3
D     4
E     9
F   NaN
G     0
dtype: float64

In [19]:
ser2

A     1
B     2
C     3
D     4
E     9
F   NaN
G     0
dtype: float64

In [26]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index=[0, 5, 10])

In [27]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [22]:
ranger = range(15)

In [23]:
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [28]:
ser3.reindex(ranger, method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [29]:
ser3.reindex(ranger, method='bfill')

0        USA
1     Mexico
2     Mexico
3     Mexico
4     Mexico
5     Mexico
6     Canada
7     Canada
8     Canada
9     Canada
10    Canada
11       NaN
12       NaN
13       NaN
14       NaN
dtype: object

In [31]:
dframe = DataFrame(randn(25).reshape(5,5), index=['A', 'B', 'D', 'E', 'F'], 
                   columns=['col1', 'col2', 'col3', 'col4', 'col5'])
dframe

       col1      col2      col3      col4      col5
A -2.164858 -0.985176 -0.178603 -0.287279 -0.077628
B  0.202731  0.195558 -0.745953  1.785973  0.501515
D  1.358174 -0.075547  0.295495  0.671381  0.824774
E  0.312115 -0.349445 -0.033128  0.766999  1.034042
F  0.537563  0.825113 -2.417176 -0.224291 -0.719048

In [32]:
dframe2 = dframe.reindex(['A', 'B', 'C', 'D', 'E', 'F'])
dframe2

       col1      col2      col3      col4      col5
A -2.164858 -0.985176 -0.178603 -0.287279 -0.077628
B  0.202731  0.195558 -0.745953  1.785973  0.501515
C       NaN       NaN       NaN       NaN       NaN
D  1.358174 -0.075547  0.295495  0.671381  0.824774
E  0.312115 -0.349445 -0.033128  0.766999  1.034042
F  0.537563  0.825113 -2.417176 -0.224291 -0.719048

In [33]:
new_columns = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6']

In [34]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -2.164858 -0.985176 -0.178603 -0.287279 -0.077628   NaN
B  0.202731  0.195558 -0.745953  1.785973  0.501515   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.358174 -0.075547  0.295495  0.671381  0.824774   NaN
E  0.312115 -0.349445 -0.033128  0.766999  1.034042   NaN
F  0.537563  0.825113 -2.417176 -0.224291 -0.719048   NaN

In [35]:
dframe

       col1      col2      col3      col4      col5
A -2.164858 -0.985176 -0.178603 -0.287279 -0.077628
B  0.202731  0.195558 -0.745953  1.785973  0.501515
D  1.358174 -0.075547  0.295495  0.671381  0.824774
E  0.312115 -0.349445 -0.033128  0.766999  1.034042
F  0.537563  0.825113 -2.417176 -0.224291 -0.719048

In [36]:
dframe.ix[['A', 'B', 'C', 'D', 'E', 'F'], new_columns]

       col1      col2      col3      col4      col5  col6
A -2.164858 -0.985176 -0.178603 -0.287279 -0.077628   NaN
B  0.202731  0.195558 -0.745953  1.785973  0.501515   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.358174 -0.075547  0.295495  0.671381  0.824774   NaN
E  0.312115 -0.349445 -0.033128  0.766999  1.034042   NaN
F  0.537563  0.825113 -2.417176 -0.224291 -0.719048   NaN