In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

from numpy.random import randn

In [2]:
ser = Series(randn(6), index=[[1, 1, 1, 2, 2, 2], ['a', 'b', 'c', 'a', 'b', 'c']])
ser

1  a   -0.409604
   b    1.655686
   c    0.651091
2  a    0.748469
   b   -0.686204
   c   -0.617592
dtype: float64

In [3]:
ser.index

MultiIndex(levels=[[1, 2], [u'a', u'b', u'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [4]:
ser[1]

a   -0.409604
b    1.655686
c    0.651091
dtype: float64

In [5]:
ser[2]

a    0.748469
b   -0.686204
c   -0.617592
dtype: float64

In [7]:
ser[1]['a']

-0.40960408605745174

In [11]:
ser[:,'a']

1   -0.409604
2    0.748469
dtype: float64

In [12]:
dframe = ser.unstack()
dframe

          a         b         c
1 -0.409604  1.655686  0.651091
2  0.748469 -0.686204 -0.617592

In [14]:
dframe2 = DataFrame(np.arange(16).reshape(4,4), index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                   columns=[['NY', 'NY', 'LA', 'SF'], ['cold', 'hot', 'hot', 'cold']])
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [17]:
dframe2.index.names = ['INDEX_1', 'INDEX_2']
dframe2.columns.names = ['Cities', 'Temp']

In [18]:
dframe2

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [19]:
dframe2.swaplevel('Cities', 'Temp', axis=1)

Temp            cold hot     cold
Cities            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [20]:
dframe2.sortlevel(1)

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [21]:
dframe2.sortlevel(0)

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [22]:
dframe2.sum(level='Temp', axis=1)

Temp             cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27

In [24]:
dframe2.sum(1)

INDEX_1  INDEX_2
a        1           6
         2          22
b        1          38
         2          54
dtype: int64

In [25]:
dframe2.sum(0)

Cities  Temp
NY      cold    24
        hot     28
LA      hot     32
SF      cold    36
dtype: int64

In [29]:
dframe2.sum(level='Cities', axis=1)

Cities           LA  NY  SF
INDEX_1 INDEX_2
a       1         2   1   3
        2         6   9   7
b       1        10  17  11
        2        14  25  15